
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">User</h1>
        </div>
    </div>
    @{ var mes = TempData["Message"] as string; var error = TempData["Error"] as string; }
    @if (mes != null)
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-@error alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @mes
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-list"></i>&nbsp;User List
                    @if (Session["UserRole"] as string == "Admin")
                    {
                        <a href="/User/Add" class="btn btn-outline btn-primary btn-xs pull-right"><i class="fa fa-plus"></i>&nbsp;Add</a>
                    }
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover" id="listTable">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>Full Name</th>
                                <th>Username</th>
                                <th>User Role</th>
                                <th>Active</th>
                                <th>Created Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 1;}
                            @foreach (var m in Model)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@m.FullName</td>
                                    <td>@m.Username</td>
                                    <td>@m.UserRole</td>
                                    <td>@m.Active</td>
                                    <td>@m.CreatedDate</td>
                                    <td>
                                        @if (Session["UserRole"] as string == "Admin")
                                        {
                                            <a href="/User/Edit/@m.UserID" class="btn btn-outline btn-info btn-xs" title="Edit">
                                                Edit
                                            </a>
                                            if (@m.UserID != 1)
                                            {
                                                <button type="button" class="delete btn btn-outline btn-danger btn-xs" data-id="@m.UserID" title="Delete">Delete</button>
                                            }
                                        }
                                    </td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".delete").click(function () {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this user!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    var delId = $(this).data("id");
                    jsonPost("/User/DeleteUser", JSON.stringify({ UserID: delId }), "/User/List");
                } else {
                }
            });
        });
    });
</script>